.home,
.about_me,
.skills,
.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contacts {
  padding-top: 122px;
  padding-bottom: 122px;
}

.about_me,
.contacts {
  background-color: #c8c8c8;
}

.container p {
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-family: "Khula", sans-serif;
  font-weight: bold;
  font-size: 47.3392px;
  line-height: 59px;
}

h2 {
  font-family: "Khula", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  padding: 20px 0;
}

.text-small {
  font-family: "Khula", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

.text {
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

#preloader {
  background-color: #b1afaf;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: table;
}

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  display: table-cell;
  vertical-align: middle;
}

.spinner > div {
  background-color: #ffffff;
  height: 60px;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
          animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #f6f6f6;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.full-menu {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #828282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.full-menu li a {
  font-family: "Khula", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

.active {
  color: #070707 !important;
  text-shadow: #070707 0 0 10px;
}

.flowing-scroll {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.flowing-scroll:hover {
  color: #070707;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-shadow: #070707 0 0 10px;
}

.home {
  display: block;
  width: 100%;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.main-foto {
  width: auto;
  max-height: 400px;
  overflow: hidden;
}

.about_me .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_me .container .container-text {
  width: 100%;
  max-width: 485px;
}

.logo-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.logo-skills .skills-ramka img {
  width: 100px;
  height: 100px;
}

.portfolio-foto img {
  width: 100%;
  height: 100%;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.footer-logo .small-logo {
  margin: 0 10px;
  width: 40px;
  height: 40px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Landscape phones and smaller */
@media all and (max-width: 480px) {
  .main-title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-title h1 {
    width: 90%;
  }
  .main-title p {
    text-align: left;
    width: 90%;
  }
  .logo-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .skills-ramka {
    width: 130px;
    height: 130px;
    margin: 30px 0px;
  }
  .skills-ramka img {
    width: 100%;
    height: 100%;
  }
}

/* Landscape phones and portrait tablets */
@media all and (max-width: 767px) {
  .logo-skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills-ramka {
    width: 46%;
    text-align: center;
    margin: 30px 0px;
  }
  .skills-ramka img {
    max-width: 130px;
    max-height: 130px;
  }
  .menu-burger_header {
    width: 40px;
    height: 35px;
    display: block;
    float: right;
    top: 10px;
  }
  .menu-burger_header span, .menu-burger_header:after, .menu-burger_header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #828282;
    margin: 0 auto;
  }
  .menu-burger_header span {
    top: 16px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu-burger_header:after,
  .menu-burger_header:before {
    content: "";
  }
  .menu-burger_header:after {
    bottom: 5px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger_header:before {
    top: 5px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .home {
    padding-top: 0;
  }
  .navigation {
    display: none;
  }
  .menu-burger_header.open-menu span {
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu-burger_header.open-menu:before {
    -webkit-transform: rotate(38deg);
            transform: rotate(38deg);
    top: 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger_header.open-menu:after {
    -webkit-transform: rotate(-38deg);
            transform: rotate(-38deg);
    bottom: 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .navigation {
    display: block;
    position: absolute;
    top: 55px;
    background-color: #f6f6f6;
    width: 100%;
    left: -100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .header {
    height: 55px;
  }
  .full-menu {
    display: block;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .full-menu li {
    margin: 40px;
    text-align: center;
  }
  .navigation.open-menu {
    left: 0;
  }
}

/* Portrait tablets and small desktops */
@media all and (min-width: 768px) and (max-width: 991px) {
  .logo-skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills-ramka {
    width: 26%;
    text-align: center;
    margin: 30px 0;
  }
  .skills-ramka img {
    max-width: 130px;
    max-height: 130px;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
/*# sourceMappingURL=style.css.map */