h1 {
    font-family: "Khula", sans-serif;
    font-weight: bold;
    font-size: 47.3392px;
    line-height: 59px;
}

h2 {
    font-family: "Khula", sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    padding: 20px 0;
}

.text-small {
    font-family: "Khula", sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.text {
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

// div {
//     border: 1px solid black;
// }
// preloader

#preloader {
    background-color: rgb(177, 175, 175);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: table;
}

.spinner {
    margin: 0 auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;

    > div {
        background-color: #ffffff;
        height: 60px;
        width: 6px;
        display: inline-block;
        animation: stretchdelay 1.2s infinite ease-in-out;
    }

    .rect2 {
        animation-delay: -1.1s;
    }

    .rect3 {
        animation-delay: -1s;
    }

    .rect4 {
        animation-delay: -0.9s;
    }

    .rect5 {
        animation-delay: -0.8s;
    }
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
}

// Header

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #f6f6f6;
    // padding: 50px 0;
    // border-bottom: 2px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.full-menu {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #828282;
    display: flex;
    justify-content: space-between;

    li {
        a {
            font-family: "Khula", sans-serif;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #828282;
        }
    }
}

.active {
    color: #070707 !important;
    text-shadow: #070707 0 0 10px;
}

.flowing-scroll {
    transition-duration: 0.4s;
    &:hover {
        color: #070707;
        transition-duration: 0.4s;
        text-shadow: #070707 0 0 10px;
    }
}

.home,
.about_me,
.skills,
.portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contacts {
    padding-top: 122px;
    padding-bottom: 122px;
}

.about_me,
.contacts {
    background-color: #c8c8c8;
}

.container {
    p {
        padding: 20px 0;
        text-align: center;
    }
}

// Main

.home {
    display: block;
    width: 100%;
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.main-foto {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

// About me

.about_me {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .container-text {
            width: 100%;
            max-width: 485px;
        }
    }
}

// Skills

.logo-skills {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    .skills-ramka {
        img {
            width: 100px;
            height: 100px;
        }
    }
}

// Portfolio

.portfolio-foto {
    img {
        width: 100%;
        height: 100%;
    }
}

// Footer

.footer-logo {
    display: flex;
    justify-content: center;
    padding: 40px 0;

    .small-logo {
        margin: 0 10px;
        width: 40px;
        height: 40px;

        // img {
        //     width: 100%;
        //     height: 100%;
        // }
    }
}

//  Conteiner

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Landscape phones and smaller */

@media all and (max-width: 480px) {
    // home
    .main-title {
        flex-wrap: wrap;

        h1 {
            width: 90%;
        }

        p {
            text-align: left;
            width: 90%;
        }
    }

    // skills
    .logo-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .skills-ramka {
        width: 130px;
        height: 130px;
        margin: 30px 0px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

/* Landscape phones and portrait tablets */

@media all and (max-width: 767px) {
    // skills
    .logo-skills {
        flex-wrap: wrap;
    }
    .skills-ramka {
        width: 46%;
        text-align: center;
        margin: 30px 0px;

        img {
            max-width: 130px;
            max-height: 130px;
        }
    }
}

/* Portrait tablets and small desktops */

@media all and (min-width: 768px) and (max-width: 991px) {
    // skills
    .logo-skills {
        flex-wrap: wrap;
    }
    .skills-ramka {
        width: 26%;
        text-align: center;
        margin: 30px 0;

        img {
            max-width: 130px;
            max-height: 130px;
        }
    }
}

/* Large desktops and laptops */

@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}
